
# Ignore executables (files without an extension, except for Makefile)
*
!*.*
!Makefile
!*/

# Ignore logs
*.log*
*.state
*.out

# Ignore pycache stuff
# __pycache__

# Ignore compilation artifacts
objs/

# Ignore MacOS artifact .DS_store
.DS_store
